* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
    user-select: none;
}

*:hover {
    cursor: default;
}

html,
body {
    width: 100%;
    height: 100%;
}

aside {
    background-color: #F5F5F5;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 2rem;
}

#aside-heading {
    width: 80%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    margin: 1rem;
}

#aside-heading h1 {
    font-weight: 500;
    margin: 1rem;
}

#aside-heading i {
    border: 2px solid black;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.7);
    font-size: 1.5rem;
    transition: all ease 0.4s;
}

#aside-heading i:hover {
    cursor: pointer;
    transform: rotate(90deg);
}

#aside-heading i:active {
    scale: 0.9;
}

.aside-column {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.aside-column h5 {
    color: #999999;
    margin-top: 1rem;

}

.aside-column ul {
    list-style: none;
    font-weight: 500;
}

.aside-column ul li {
    margin: 0.1rem 0;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    transition: all ease 0.2s;
}

.aside-column ul li:hover {
    cursor: pointer;
    background-color: #838383;
    color: white;
}

.aside-column ul li:active {
    scale: 0.9;
}

body {
    background-color: white;
}