* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
    user-select: none;
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    height: 100%;
}

*:hover {
    cursor: default;
}

html,
body {
    width: 100%;
    height: 100%;
}

aside {
    position: sticky;
    background-color: #F5F5F5;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 2rem;
}

#aside-heading {
    width: 80%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    margin: 1rem;
}

#aside-heading h1 {
    font-weight: 500;
    margin: 1rem;
}

#aside-heading i {
    font-size: 1.5rem;
    transition: all ease 0.4s;
}

#aside-heading i:hover {
    cursor: pointer;
    transform: rotate(90deg);
}

#aside-heading i:active {
    scale: 0.9;
}

.aside-column {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.aside-column h5 {
    color: #999999;
    margin-top: 1rem;

}

.aside-column ul {
    list-style: none;
    font-weight: 500;
}

.aside-column ul li {
    margin: 0.1rem 0;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    transition: all ease 0.2s;
}

.aside-column ul li:hover {
    cursor: pointer;
    background-color: #838383;
    color: white;
}

.aside-column ul li:active {
    scale: 0.9;
}

#aside-picture-container {
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transform: translateY(-10%);
}

#aside-picture-container img {
    height: 30%;
}

body {
    background-color: white;
    display: flex;
}

dialog {
    box-shadow: 0 0 20rem 10rem rgba(0, 0, 0, 0.3);
}

.modal-interface {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    padding: 2rem;
}

#main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 2rem;
}

#main-section-heading {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding: 1rem 40rem;
    padding-left: 0;
}

#main-section-heading h1 {
    font-size: 3vw;
}

#tasks-count h1 {
    font-weight: 500;
    padding: 0 1rem;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
}

#form-container-div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#add-to-tasks-form {
    border: 1px solid rgba(0, 0, 0, 0.9);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 55%;
    padding: 0.3rem 1rem;
    margin: 1rem 0;
}

#add-to-tasks-form i {
    font-size: 1.4rem;
    transition: all ease 0.3s;
}

#add-to-tasks-form i:hover {
    cursor: pointer;
    color: rgb(0, 184, 0);
    transform: scale(1.1);
}

#add-to-tasks-form i:active {
    scale: 0.7;
}

#add-to-tasks-form button[type="submit"] {
    border: none;
    outline: none;
    background-color: transparent;
}

#NewTaskInputField {
    font-size: 1.2rem;
    font-weight: 500;
    border: none;
    outline: none;
    padding: 0 1rem;
    text-align: center;
}

#todo-list-display {
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.no-date-style-todo-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 0.5rem 2rem;
    padding-left: 0;
    margin: 0.5rem 0;
    user-select: text;
}

.no-date-style-todo-item div {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 90%;
    font-weight: 500;
    user-select: text;
}

.no-date-style-todo-item div p {
    transform: translateY(6px);
    font-weight: 500;
}

.no-date-style-todo-item div h5 {
    color: gray;
    transform: translateY(15px);
}

.no-date-style-todo-item>i {
    transition: all ease 0.3s;
    font-size: 1.5rem;
}

.no-date-style-todo-item>i:hover {
    color: red;
}

.no-date-style-todo-item>i:active {
    scale: 0.8;
}